<p id="notice"><%= notice %></p>

<p>
  <b>Fname:</b>
  <%= @user.fname %>
</p>

<p>
  <b>Mname:</b>
  <%= @user.mname %>
</p>

<p>
  <b>Lname:</b>
  <%= @user.lname %>
</p>

<p>
	<b>Role:</b>
	<%= @user.role %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Pnum:</b>
  <%= @user.pnum %>
</p>

<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
  <b>Referral:</b>
  <%= @user.referral %>
</p>

<p>
  <b>Resume txt:</b>
  <%= @user.resume_txt %>
</p>

<p>
  <b>Resume bin:</b>
  <%= @user.resume_bin %>
</p>

<p>
  <b>Cletter:</b>
  <%= @user.cletter %>
</p>

<p>
	<% if can? :update, @user %>
		<%= link_to 'Edit', edit_user_path(@user) %> |
	<% end %>
	<% if can? :destroy, @user %>
		<%= link_to "Destroy", @user, :method => :delete, :confirm => "Are you sure?" %> |
	<% end %>
<%= link_to 'Back', users_path %>
</p>
