<h1>All Opportunities</h1>

<% form_tag request.path, :method => 'get' do %>
	<% content_tag :label do %>
		Search job titles: <%= text_field_tag :search, params[:search] -%>
	<% end %>
	<% content_tag :label do %>
		And/or select a location: <%= select_tag "location", options_for_select(@locations), {:include_blank => true} %>
	<% end %>
	<%= submit_tag "Search", :title => nil %>
<% end %>

<%= will_paginate @opportunities %>

<table class="opportunities">
	<tr>
		<th>Job ID</th>
		<th>Title</th>
    <th>Responsibilities</th>
    <th>Overview</th>
    <th>Qualifications</th>
    <th>Location</th>
	</tr>
	<% @opportunities.each do |opportunity| %>
		<tr>
			<td><%= opportunity.id %></td>
			<td><%= opportunity.title %></td>
			<td><%= opportunity.responsibilities %></td>
			<td><%= opportunity.overview %></td>
			<td><%= opportunity.qualifications %></td>
			<td><%= opportunity.location %></td>
			<td><%= link_to 'Show', opportunity %></td>
			<% if can? :update, Opportunity %>
    		<td><%= link_to 'Edit', edit_opportunity_path(opportunity) %></td>
    		<td><%= link_to 'Destroy', opportunity, :confirm => 'Are you sure?', :method => :delete %></td>
			<% end %>
		</tr>
	<% end %>
</table>

<ul>
<% for opportunity in @opportunities %>
	<li>
		<%= link_to opportunity.title, opportunity_path(opportunity) %>
		|	<%= link_to "Edit", edit_opportunity_path(opportunity) %>
		|	<%= link_to "Destroy", opportunity_path(opportunity), :method => :delete %>
	</li>
<% end %>
</ul>

<%= will_paginate %>

<% if can? :create, Opportunity %>
	<%= link_to 'New Opportunity', new_opportunity_path %>
<% end %>