<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @opportunity.title %>
</p>

<p>
  <b>Responsibilities:</b>
  <%= @opportunity.responsibilities %>
</p>

<p>
  <b>Overview:</b>
  <%= @opportunity.overview %>
</p>

<p>
  <b>Qualifications:</b>
  <%= @opportunity.qualifications %>
</p>

<% if can? :update, @user %>
	<%= link_to 'Edit', edit_opportunity_path(@opportunity) %> |
<% end %>
<% if can? :destroy, @user %>
	<%= link_to "Destroy", @user, :method => :delete, :confirm => "Are you sure?" %> |
<% end %>

<%= link_to 'Back', opportunities_path %>