<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @opportunity.title %>
</p>

<p>
  <b>Responsibilities:</b>
  <%= @opportunity.responsibilities %>
</p>

<p>
  <b>Overview:</b>
  <%= @opportunity.overview %>
</p>

<p>
  <b>Qualifications:</b>
  <%= @opportunity.qualifications %>
</p>


<%= link_to 'Edit', edit_opportunity_path(@opportunity) %> |
<%= link_to 'Back', opportunities_path %>
