<h1>New Search Opportunities</h1>

<% form_for @search_opportunities do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :keywords %><br />
    <%= f.text_field :keywords %>
  </p>
  <p>
    <%= f.label :location_id %><br />
    <%= f.text_field :location_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>


